html {
  scroll-behavior: smooth;
}

body {
  /*padding-top: 3.5rem;*/
  color:#666;
  /*font-weight: 500;  */
 font-family: 'Varela Round', sans-serif;
}

.navbar{
    padding: 1rem 1rem;
}

.nav-link {
    display: block;
    text-transform: uppercase;
    padding: 0.5rem 2rem !important;
     color: rgba(0,0,0,0.7)  !important;
    font-size: 14px;
    font-weight: 600;
}

.navbar .navbar-nav{
    margin-top: 10px;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,0);
}

button:focus,a:focus{
    outline: none;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.dropdown-submenu .dropdown-toggle::after {
    transform: rotate(270deg);    
    margin-left: 6em;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da !important;
    outline: 0;
    box-shadow: none !important;
}

/*--------------index page---------------*/
/*--------------index page---------------*/
/*--------------index page---------------*/

#banner_image .carousel-caption{
    position: absolute;
    /* right: 40%; */
    bottom: 30%;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
}

#services,#services1{
    padding: 60px 0px;
}

#top_heading h3{
    text-align: center;
    color: #f3a83c;
    text-transform: uppercase;
}

#services .carousel-inner .fill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-size:400px 400px;
    background-repeat: no-repeat;
    background-position: right;
}

#services .carousel-inner .fill p{
    width: 50%;
}

/*apps&web*/
#services .carousel-inner .fill .app_web{
    color: #1b1464;    
}

#services .carousel-inner .fill .app_web .btn-info{    
    background-color :#1b1464; 
    border:none;
}

#services1 .fill h3{
    text-align: center !important;
}

#services1 .fill p{
    padding:0 10px;
}

#services1 .fill img{
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*creative*/
#services .carousel-inner .fill .creative{
    color: #00ad9f;    
}

#services .carousel-inner .fill .creative .btn-info{    
    background-color :#00ad9f; 
    border:none;
}

/*digital*/
#services .carousel-inner .fill .digital{
    color: #8e206b;    
}

#services .carousel-inner .fill .digital .btn-info{    
    background-color :#8e206b; 
    border:none;
}

/*erp*/
#services .carousel-inner .fill .erp{
    color: #d19b4d;    
}

#services .carousel-inner .fill .erp .btn-info{    
    background-color :#d19b4d; 
    border:none;
}

/*advertising*/
#services .carousel-inner .fill .advertising{
    color: #c787d3;    
}

#services .carousel-inner .fill .advertising .btn-info{    
    background-color :#c787d3; 
    border:none;
}


#services .carousel-inner,
#services .carousel,
#services .carousel-item,
#services .container,
#services .fill,
#services1 .carousel-inner,
#services1 .carousel,
#services1 .carousel-item,
#services1 .container,
#services1 .fill {
    height:100%;
    min-height:300px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
#services .slide-wrapper,
#services1 .slide-wrapper
{
    display:inline;
}
#services .slide-wrapper .container,
#services1 .slide-wrapper .container
{
    padding:0;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

#services .carousel-inner > .carousel-item.carousel-item-next ,
#services .carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); 
    -webkit-transform: translate3d(0, 100%, 0); 
    -ms-transform: translate3d(0, 100%, 0); 
    -moz-transform: translate3d(0, 100%, 0); 
    -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
#services .carousel-inner > .carousel-item.carousel-item-prev ,
#services .carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0);
    -webkit-transform: translate3d(0,-100%, 0);  
    -moz-transform: translate3d(0,-100%, 0);
    -ms-transform: translate3d(0,-100%, 0); 
    -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
#services .carousel-inner > .carousel-item-next.carousel-item-left ,
#services .carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
#services .carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); 
    -webkit-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0); 
    -moz-transform:translate3d(0,0,0); 
    -o-transform:translate3d(0,0,0); top:0;
    
}

/*------------------------------- vertical carousel indicators ------------------------------*/
#services .carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:auto; 
    left:-120px;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#services .carousel-indicators li{
    display:block; 
    margin-bottom:5px; 
    border:1px solid #000; 
    
}
#services .carousel-indicators li.active{
    margin-bottom:5px; 
    background:#000;    
}

#services1 .carousel-indicators{
    position:absolute;
    /*top:0;*/
    bottom:0;
    margin:auto;
    height:20px;
    /*right:auto; */
    /*left:-120px;*/
    width:auto;
    /*-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);*/
}
#services1 .carousel-indicators li{
    display:block; 
    margin-bottom:5px; 
    border:1px solid #000; 
    
}
#services1 .carousel-indicators li.active{
    margin-bottom:5px; 
    background:#000;    
}

/*--------------Apps&campaign------------*/
/*--------------Apps&campaign------------*/
/*--------------Apps&campaign------------*/
/*----Top Section----*/

#jumbotronadvert{
    background: url(../images/image1.png) no-repeat top right;
}

#jumbotronappsweb{
    background: url(../images/apps_web_banner.png) no-repeat top right;
}

#jumbotroncreative {
    background: url(../images/creative_banner.png) no-repeat top right;
}

#jumbotrondigital{
    background: url(../images/digital_banner.png) no-repeat top right;
}

#jumbotrondigitalseo{
    background: url(../images/seo_banner.png) no-repeat top right;
}

#jumbotrondigitalsem{
        background: url(../images/sem_banner.png) no-repeat top right;
}

#jumbotrondigitalsmm{
        background: url(../images/smm_banner.png) no-repeat top right;
}

#jumbotrondigitalemailmarket{
    background: url(../images/email-marketing-banner.png) no-repeat top right;
}

#jumbotronerp{
    background: url(../images/erp.png) no-repeat top right;
}

@media(max-width: 762px){

    nav.navbar{
        border-bottom: 2px solid rgb(243, 168, 60) !important;
        /*padding-bottom: 0rem !important;*/
    }
    nav .container{
        max-width: inherit !important;
    }
     nav.navbar .nav-link{
        padding: 1rem 0rem !important;
        border-bottom: 1px solid #F5F6F6;
     }

    #main_page ,#inner_pages,#about_us_main,#contact_main,#our_clients{
        margin-top: 4.5rem !important;
    }

    #main_page #banner_image .carousel-caption{
        position: absolute;
        /* right: 40%; */
        bottom: 20%;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #130f0f;
        text-align: left;
    }

    #main_page #banner_image .carousel-caption h1{
        font-size: 1.5rem;
    }

    #jumbotronadvert {  
        background: url(../images/image1.png) no-repeat top center;     
    }

    #jumbotronadvert .display-4{
        font-size: 2.5rem !important;
    }

    #jumbotronappsweb {  
        background: url(../images/apps_web_banner.png) no-repeat top center;     
    }

    #jumbotroncreative {  
        background: url(../images/creative_banner.png) no-repeat top center;     
    }

    #jumbotrondigital {  
        background: url(../images/digital_banner.png) no-repeat top center;     
    }

    #jumbotrondigitalseo{
        background: url(../images/seo_banner.png) no-repeat top center;
    }

    #jumbotrondigitalsem{
        background: url(../images/sem_banner.png) no-repeat top center;
    }

    #jumbotrondigitalsmm{
        background: url(../images/smm_banner.png) no-repeat top right;
    }

    #jumbotrondigitalemailmarket{
        background: url(../images/email-marketing-banner.png) no-repeat top center;
    }

    #jumbotronerp {  
        background: url(../images/erp.png) no-repeat top center;     
    }   
    .navbar{
        background-color: #fff
    }
    #services .carousel-indicators{
        position:absolute;
        top:30rem;
        bottom:0;
        margin:auto;
        height:20px;
        right:0; 
        left:0;
        width:auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .dropdown-menu{
        margin: 0.125rem 3rem 0;
        border: 0px;
    }
    #services .carousel-inner .fill{
        background-size:200px 200px;
    }
    #services .carousel-inner,
    #services .carousel,
    #services .carousel-item,
    #services .container,
    #services .fill {
        min-height:400px;
    }

    #about_us_main #layer_2 .card{
        float:none !important;
        width: 100% !important;
        background-color: rgba(239, 239, 239, 0.8) !important;
    }
    #about_us_main #layer_2 img{
        height: 300px;
        width: 300px;
        position: absolute;
        top:auto !important;
        bottom: 0px;
        left: 50px;
        z-index: -1;
    }

    #services{
        display: none;
    }
    #services1{
        display: block !important;
    }
    .all_Layers .card{
        float:none !important;
        width: 100% !important;
        background-color: rgba(239, 239, 239, 0.8) !important;
    }
    #layer_1 img,#layer_3 img ,#layer_5 img{
      position: absolute;
      /*top:auto !important;*/
      bottom: 0px;
      right:0px;
      z-index: -1;
    }
    #layer_2 img,#layer_4 img,#layer_6 img {
      position: absolute;
      top:auto !important;
      bottom: 0px;
      left:0px;
      z-index: -1;
    }
    #client_main #layer_2 .card{
        margin-left: 0px !important;
    }
}

@media (max-width: 500px) {
     #main_page #banner_image .carousel-caption h1{
        font-size: 1rem; color: white;
    }
    #main_page #banner_image .carousel-caption p{
        font-size: 0.8rem; color: white;
    }
}

@media (min-width: 500px) and (max-width: 762px){
     #about_us_main #layer_2 img{
        top: 30px;
    }
}

#inner_pages,#about_us_main,#contact_main,#our_clients{
    margin-top: 6rem;
}
#inner_pages .jumbotron {    
    background-size: 680px 500px;   
    height:550px;   
    padding: 2rem 0rem;
    margin-bottom: 2rem;
    background-color: #fff !important;
    border-radius: .3rem;
}

#inner_pages .jumbotron .banner_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}

#inner_pages .jumbotron #banner_textappsweb h1{
    color: #1b1464;
    font-weight: 600;
}

#inner_pages .jumbotron #banner_textcreative h1{
    color: #00ad9f;
    font-weight: 600;
}

#inner_pages .jumbotron #banner_textdigital h1{
    color: #8e206b;
    font-weight: 600;
}

#inner_pages .jumbotron #banner_texterp h1{
    color: #d19b4d;
    font-weight: 600;
}

#inner_pages .jumbotron #banner_textadvert h1{
    color: #c787d3;
    font-weight: 600;
}

.all_Layers{
    padding:60px 0;
    min-height: 350px; 
}
.all_Layers h3{
    color: #cd78dd;
    font-weight: bold;
}
.all_Layers .card{
    background-color: rgba(255,255,255,0.7);
    width:80%;
	min-height: 250px;
    border:0px;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}
.all_Layers .card-body {
    padding: 2.5rem 1rem;
}
#layer_1 img,#layer_3 img,#layer_5 img {
  position: absolute;
  top: 0px;
  right:0px;
  z-index: -1;
}
#layer_2 img,#layer_4 img, #layer_6 img {
  position: absolute;
  top: -30px;
  left:0px;
  z-index: -1;
}

#contact_main #userform label.error{
    color: red;
}

#contact_main .jumbotron,#our_clients .jumbotron ,#about_us_main .jumbotron, #SEM_main .jumbotron{
    padding: 2rem 2rem;
}

#contact_main .jumbotron h3,#our_clients .jumbotron h3,#about_us_main .jumbotron h3,#SEM_main .jumbotron h3{
    color: #f3a83c;
    font-weight: bold;
    font-size:30px;
}

/*footer*/
.footer{
    padding: 60px 0;
    width: 100%;
    background: #383838;
    color: #fff;
   
}
.footer-title{
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #4e4e4e;
}
.footer-title:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    background: #f3a83c;
}
.footer-links a{
    padding: 10px 0;
    border-bottom: 1px solid #404040;
    color: #fff;
    display: block;
    transition: color 0.5s ease-in-out;
   text-decoration:none;
}
.footer-links a:hover{
    color: #f3a83c;
}
.footer-social-links li{
    display: inline-block;
}
.footer-social-links a{
    width: 40px;
    height: 40px;
    font-size: 16px;
    float: left;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #404040;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    line-height: 1;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  background:#3B008D;
}
.footer-social-links a:hover{
    background: #f3a83c;
}
/* g. Footer bottom section */
.footer-bottom{
    width: 100%;
    padding: 25px 0;
    text-align: center;
    color: #fff;
    background: rgb(9, 95, 234);
}
/******client carousel********/
#client_main .testimonial {
    border-left: 4px solid #f3a83c;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.06);
    padding: 50px 30px 50px 130px;
    margin: 0 15px 10px 15px;
    overflow: hidden;
    position: relative;
    min-height: 200px;
}

#client_main .testimonial:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 25px solid #f3a83c;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(-45deg);
    transform-origin: 80% -30% 0;
}

#client_main .testimonial .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    left: 20px;
}

#client_main .testimonial .pic img {
    width: 100%;
    height: auto;
}

#client_main .testimonial .description {
    font-size: 15px;
    font-style: italic;
    color: #918686;
    line-height: 25px;
    margin-bottom: 15px;
}

#client_main .testimonial .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #f3a83c;
    margin: 0;
}

#client_main .testimonial .post {
    display: inline-block;
    font-size: 17px;
    color: #f3a83c;
}

#client_main .owl-theme .owl-controls .owl-page span {
    border: 2px solid #f3a83c;
    background: #fff;
    opacity: 1;
}

#client_main .owl-theme .owl-controls .owl-page.active span,
#client_main .owl-theme .owl-controls .owl-page:hover span {
    background: #f3a83c;
}

@media only screen and (max-width: 767px) {
    #client_main .testimonial {
        padding: 20px;
        text-align: center;
    }
    #client_main .testimonial .pic {
        display: block;
        position: static;
        margin: 0 auto 15px;
    }
	#inner_pages .jumbotron .banner_text {
		height: auto;
	}
}
